.artickle_container {
    width: 60%;
    min-width: 300px;
    margin: 0px auto;
    padding: 0 15px 10px;
    background: white;
}
.post {
    padding: 2em 0;
}
.post a{
    color: #5a504d;
    outline: none;
}
.post-image{
    text-align: center;
}
.post-image img {
    width: 100%;
    max-width: 300px;
    /* margin: 0 0 20px 10px; */
}
.post h1 {
    color: #5a504d;
    font-weight: 500;
     margin-bottom: 30px;
}
.post-header {
    text-align: center;
}

.post-meta {
    color: #5a504d;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: .8em;
}
.post-meta:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background: #222;
}
time,
.author {
    padding-right: 26px;
    position: relative;
}
time:after {
    content: "/";
    color: #DDDDDF;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
p {
    line-height: 1.5;
    text-align: justify;
}
@media (min-width: 880px) {
    body {
        font-size: 16px;
    }
    .container {
        padding: 0 45px;
    }
    .post-image img {
        float: left;
        width: 300px;
        margin: 0 30px 20px 10px;
        border: 10px solid #DDDDDF;
        border-left-width: 0;
    }
}